Appunti.docx
Learning_Paths.pdf
The Python Mega Course, Cheat Sheets.pdf
vari_test.py
bonus/__pycache__/zip_creator.cpython-312.pyc
bonus/compressed/compressed2.zip
bonus
build/gui/Analysis-00.toc
build/gui/base_library.zip
build/gui/EXE-00.toc
build/gui/gui.pkg
build/gui/PKG-00.toc
build/gui/PYZ-00.pyz
build/gui/PYZ-00.toc
build/gui/Tree-00.toc
build/gui/Tree-01.toc
build/gui/Tree-02.toc
build/gui/warn-gui.txt
build/gui/xref-gui.html
build/gui/localpycs/pyimod01_archive.pyc
build/gui/localpycs/pyimod02_importers.pyc
build/gui/localpycs/pyimod03_ctypes.pyc
build/gui/localpycs/pyimod04_pywin32.pyc
build/gui/localpycs/struct.pyc
bonus/compressed/test11
bonus/compressed/test11
intermediate/Followed_Projects/PDF/pdf_env
intermediate/Followed_Projects/PDF/pdf_env/Lib
