body {
    font-family: Ubuntu;
}

p {
    margin: 0px;
    padding: 10px;
    border: black 2px solid;
    float: left;
    border-radius: 50px;
    /* display: inline-block; */
}

.second-paragraph {
    clear: left;
    margin-top: 10px;
}

.word {
    clear: left;
    margin-top: 30px;
    padding-top: 15px;
}

.word2 {
    clear: left;
    margin-top: 20px;
}

.input-group {
    clear: left;
    margin-top: 15px;
    display: flex;
    align-items: center;
    margin-bottom: 10px; /* Distanza tra i gruppi di input */
}

.input-group label {
    width: 245px; /* Larghezza fissa per tutte le etichette */
    margin-right: 10px; /* Spazio tra l'etichetta e l'input di testo */
}




/* #station {

} */

#check {
    margin-left: 10px;
    background-color: green;
    font-family: Ubuntu;
    color: white;
    border-radius: 10px;
}

#check:hover {
    cursor: pointer;
    background-color: greenyellow;
}

a {
    text-decoration: none;
}