.appview-container {
background-color: white;
}
p {
color: black;
}
.st-emotion-cache-10trblm {
color : black;
}

.st-emotion-cache-x78sv8 p  {
    color: white;
}

.st-at.st-au.st-av.st-aw.st-ae.st-ag.st-ah.st-af.st-bz.st-bo.st-ai.st-aj.st-ak.st-al.st-am.st-an.st-ao.st-ap.st-c0.st-ar.st-as.st-bb.st-b3.st-b4.st-b5.st-b6.st-b7:hover {
    cursor: pointer;
}

